# Node dependencies
node_modules/
npm-debug.log*
yarn-error.log*
package-lock.json
yarn.lock

# Cypress-specific files
cypress/screenshots/
cypress/videos/
cypress/downloads/

# Environment files
cypress.env.json
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs & Debug files
debug.log
output.log

# VSCode settings (optional)
.vscode/

# Mac system files (optional)
.DS_Store

# IDE-specific files (optional)
.idea/
*.iml
